<!DOCTYPE html>
<html>
<head>
	<title>Numerology App</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/people.css">
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Numerology Calculator <small>A Skillcrush Project</small></h1>
		</div>
		 
		<hr />
		 
		<%= yield %>
		
 		<div class="footer">
 			<small><a href="/about" class="">About the developer</a></small>
 		</div>
	</div>
</body>
</html>